@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=IM+Fell+French+Canon:ital@0;1&display=swap');
.im-fell-french-canon-regular {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: normal;
}

.im-fell-french-canon-regular-italic {
  font-family: "IM Fell French Canon", serif;
  font-weight: 400;
  font-style: italic;
}
.averia-serif-libre-light {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: normal;
}

.averia-serif-libre-regular {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.averia-serif-libre-bold {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: normal;
}

.averia-serif-libre-light-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 300;
  font-style: italic;
}

.averia-serif-libre-regular-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 400;
  font-style: italic;
}

.averia-serif-libre-bold-italic {
  font-family: "Averia Serif Libre", serif;
  font-weight: 700;
  font-style: italic;
}

html { 
	background: #fff;
	font-family: "IM Fell French Canon", "Averia";
}

body {
	width: 80%;
	text-align: left;
 	margin: auto;
 	padding-top: 50px;
}

nav {
	padding-bottom: 50px;
	width: 80%;
}

header img {
	width: 150px;
	display: block;
 	margin: auto;
}

header a {
	font-family: "Averia Serif Libre", serif;
	font-weight: 700;
	font-style: italic;
	color: black;
	text-align: center;
	display: inline;
	text-align: justify-all;
}

